<!-- Image and text -->
<nav class="navbar navbar-light bg-warning">
  <a href="/" >
    <img width="150" height="50" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Pokemon Logo">
  </a>
  <div class="icon-wrapper mr-3">
    <a href="/favorites"><fa-icon [icon]="faHeart" [style]="{'color':'red'}" ></fa-icon></a>
    <span class="badge">{{(favorites| async)?.length}}</span>
 </div> 
</nav>
<div class="container" >
  <router-outlet></router-outlet>
</div>
